<%= form_for(@customer_address) do |f| %>
<% if @customer_address.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(@customer_address.errors.count, "error") %>
prohibited this order from being saved:</h2>
<ul>
<% @customer_address.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>
<div class="field">
<%= f.label :address1 %><br />
<%= f.text_field :address1 %>
</div>
<div class="field">
<%= f.label :address2 %> (optional)<br />
<%= f.text_field :address2 %>
</div>
<div class="field">
<%= f.label :city %><br />
<%= f.text_field :city %>
</div>
<div class="field">
<%= f.label :district %><br />
<%= f.text_field :district %>
</div>
<div class="field">
<%= f.label :state %><br />
<%= f.text_field :state %>
</div>
<div class="field">
<%= f.label :country %><br />
<%= f.select :country, CustomerAddress::COUNTRIES,
prompt: 'Select a Country' %>
</div>
<div id="error-message" class="error">
</div>
<div class="field">
<%= f.label :pincode %><br />
<%= f.number_field :pincode %>
</div>
<div class="field">
<%= f.label :contact_details %><br />
<%= f.number_field :contact_details %>
</div>
<div class="actions">
<%= f.submit 'Place Order' %>
</div>
<% end %>