<h4>Thanks You for your order !!</h4>
<h5><u>Delivery Address</u></h5>
<p><strong><%= @order.name %></strong></p><p><%= @order.email %></p>
<p><%= @order.address %></p>
<hr/>

<p><u>Your order details</u></p>
<table class="well">
  <% @order.order_items.each do |item| %>
    <tr>
      <td><%= item.item_quantity %>&times;</td>
      <td><%= item.product.title %></td>
      <td class="item_price"><%= number_to_currency(item.total_price) %></td>
    </tr>
  <% end %>

  <tr class="total_line">
    <td colspan="2"><strong>Total</strong></td>
    <td class="total_cell"><%= number_to_currency(@order.order_items.to_a.sum { |item| item.total_price }) %></td>
  </tr>
</table>