<h4>Thanks you for your order !!</h4><br/>
<p class="order-notice">Your order will be delivered in next 5 to 7 working days.</p>
<div class="row">
<div class="col-sm-4 well">
  <h5><u>Delivery Address</u></h5>
  <p><strong><%= @order.name %></strong></p><p><%= @order.email %></p>
  <p><%= @order.address %></p>
</div>

<div class="col-sm-6 well order-details">
<h5><u>Your order details</u></h5>
<table class="table">
  <tr>
    <td><strong>Order Item</strong></td>
    <td><strong>Quantity</strong></td>
    <td><strong>Price</strong></td>
    <td class="item_price"><strong>Total Price</strong></td>
  </tr>
  <% @order.order_items.each do |order_item| %>
    <tr>
      <td><%= order_item.product.title %></td>
      <td><%= order_item.item_quantity %>&times;</td>
      <td><%= number_to_currency(order_item.product.price) %></td>
      <td class="item_price"><%= number_to_currency(order_item.total_price) %></td>
    </tr>
  <% end %>

  <tr class="total_line success">
    <td colspan="3"><strong>Total</strong></td>
    <td class="total_cell"><%= number_to_currency(@order.order_items.to_a.sum { |item| item.total_price }) %></td>
  </tr>
</table>
</div>
</div>