<% unless cart.order_items.empty? %>
<div class="cart_title">My Cart</div><hr/>
<div class="row">
<div class="col-sm-12">
<table class="well table">
	<tr>
		<td><strong>Order Item</strong></td>
		<td><strong>Quantity</strong></td>
		<td><strong>Price</strong></td>
		<td class="item_price"><strong>Total Price</strong></td>
	</tr>
	<% cart.order_items.each do |order_item| %>
		<tr>
			<td><%= order_item.product.title %></td>
			<td><%= order_item.item_quantity %>&times;
			<a href="<%=order_item_add_quantity_path(order_item)%>" class="btn btn-default btn-sm" data-remote="true">
          		<span class="glyphicon glyphicon-chevron-up"></span>
        	</a>&nbsp;&nbsp;
			<a href="<%=order_item_less_quantity_path(order_item)%>" class="btn btn-default btn-sm" data-remote="true">
          		<span class="glyphicon glyphicon-chevron-down"></span>
        	</a>
			</td>
			<td><%= number_to_currency(order_item.product.price) %></td>
			<td class="item_price"><%= number_to_currency(order_item.total_price) %></td>
		</tr>
	<% end %><br/>
	<% if cart.shipping.present? %>
		<tr class="shipping">
			<td colspan="3"><strong>Shipping</strong></td>
			<td class="total_cell"><strong><%= number_to_currency(cart.shipping) %></strong></td>
		</tr>
		<tr class="total_line success">
			<td colspan="3"><strong>Total</strong></td>
			<td class="total_cell"><strong><%= number_to_currency((cart.total_price) + cart.shipping) %></strong></td>
		</tr>
	<% else %>
		<tr class="total_line success">
			<td colspan="3"><strong>Total</strong></td>
			<td class="total_cell"><strong><%= number_to_currency(cart.total_price) %></strong></td>
		</tr>
	<% end %>
</table>
<div>
	<%= link_to 'Empty cart', @cart, method: :delete, class: "btn btn-warning", data: {confirm: 'Are you sure?'} %> &nbsp;
</div>
</div>
</div>
<hr/>
<% end %>